body{
    background-color: white;
    color:black
}
.darkbg{
    background-color: black;
    color:rgb(207, 193, 193)
}

.changemode{
    color: black;
}

.disabled-hover:hover {
    color:white;
}









