body{
    background-color: white;
    color:black
}
.darkbg{
    background-color: black;
    color:rgb(207, 193, 193)
}

.changemode{
    color: black;
}

.disabled-hover:hover {
    color:white;
}

.banners{
    box-shadow: 2px 5px 6px 2px rgb(90, 86, 86,0.5);
    border-radius: 10%;
    margin-top: 25px;
    
}
.banners:hover{
    box-shadow: 3px 6px 7px 4px rgba(214, 198, 198, 0.5);
    border-radius: 10%;
    margin-top: 25px;
    transform: scale(1.05);
    
}

.banners-img{
    height: 250px;
    width: 100%;
    border:2px solid darkgreen;
    border-radius: 10%;
}

.banners-img-product{
    height: 200px;
    width: 100%;
    border-radius: 10%;
}


.favorite-item{
    font-size: 30px;
    margin-left: 20px;
}

.cart-item{
    font-size: 30px;
    margin-right: 20px;
    
}

.register{
    background: url('../Photos/register.jpg');
    height: 400px;
    background-repeat: no-repeat;
    border-radius: 2%;
}

.footer{
    background: url('../Photos/footer.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 30px;
    width: 100%;
}

.foot-head{
    font-size: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.foot-link{
    color: orange;
    display: block;
    font-size: 25px;
    line-height: 2;
}

.foot-link:hover{
    text-decoration: none;
    color: yellow;
    display: block;
    font-size: 25px;
    line-height: 2;
}

.foot-head-div.newhr{
    border: 5px solid white;
    width: 70px;
}



